{% load dict_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/grade.css' %}">


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title class="name-class">Grade — Turma {{ turma.nome }}</title>
    
</head>
<body>

    <header>
        <div class="header">
            <h1 class="class-name">Grade de Horários — <!--O turma tava duplicando ai apaguei--> {{ turma.nome }}</h1>
            <p class="school-name">{{ turma.escola.nome }} &middot; <span class="study-shift">{{ turma.turno|capfirst }}</span></p>
        </div>
    </header>
    <span class="dividing-line"></span>

    <div class="information-soft">
        <h2 class="title-software">Gerenciar horários</h2>
        <p class="subtitle-software">Organize sua grade de aulas facilmente.</p>
    </div>

    <nav class="classes-nav">
        {% for t in turma.escola.turma_set.all %}
            <a href="{% url 'grade_turma' t.id %}"
                class="{% if t.id == turma.id %}ativa{% endif %}">
                {{ t.nome }}
            </a>
        {% endfor %}
    </nav>
    
    <div class="grade-wrap">
        <table class="grade">
            <tr>
                <th>Horário</th>
                {% for dia in dias %}
                    <th>{{ dia }}</th>
                {% endfor %}
            </tr>

            {% for linha in grade %}
            <tr>
                <td class="slot-label">{{ forloop.counter }}ª aula</td>

                {% for aula in linha %}
                <td>
                    {% if aula %}
                        {% with disc=aula.turma_disciplina.disciplina.nome %}
                        {% with cor=cores_disciplina|get_item:disc %}
                        <div class="aula-cell"
                                style="background:{{ cor.bg }};border-left-color:{{ cor.border }}">
                            <span class="disc" style="color:{{ cor.text }}">
                                {{ disc }}
                            </span>
                            <span class="prof" style="color:{{ cor.text }}">
                                {{ aula.turma_disciplina.professor.nome }}
                            </span>
                        </div>
                        {% endwith %}
                        {% endwith %}
                    {% else %}
                        <div class="vazia"></div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>